
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.2); */
  padding-top: 0.7em;
  padding-left: 5%;
  color: whitesmoke;
  transition: top 0.4s ease-in-out;
}

.nav-items .nav-link {
  display: block;
  padding: 0.5em 0.7em;
  margin: -0.5em -0.7em;
  border-radius: 0.8em;
  text-decoration: none;
  color: whitesmoke;
  border: 1px whitesmoke solid;
  
  background: 
  linear-gradient(currentColor 0 0) 
  50% 80% /var(--d, 0) 0.05em 
  no-repeat;
  backdrop-filter: blur(5px);
  background-color: #00000061;
  transition: 0.5s ease;
  
}

.nav-items .nav-link:hover {
 --d: 85%
}

.navbar.hidden {
  top: -15%;
}

.nav-items {
  padding-bottom: 1em;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-items div {
  font-size: 1.75em;
  font-weight: 400;

}

.name .nav-link {
  display: flex;
  padding: 0.2em 0.5em;
  padding-right: 1em;
  align-items: center;
  font-size: 2.5em;
  font-weight: 200;
  margin: 0;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 0.8em;
  transition: 0.5s ease;

}

.name .nav-link:hover {
  background-color: #ffffff29;
}

.name {
  margin-left: 5em;
  padding-right: 0;
  border: 0.1em whitesmoke solid;
  border-radius: 2.3em;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.224), rgba(255, 255, 255, 0.023));
  margin-bottom: 0.5em;
}

.navbar img {
  display: flex;
  width: 1.9em;
  position: relative;
  left: -0.3em;
  top: -0.1em;
}